# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\college\Java Web\Mybatis_Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
